In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('results/test_disjunctive_daat_BM25_scores.csv')
data.head()

   QueryId  EntityId  Relevance D_BM25
0        2    366601          6.583829
1        2   2508826          6.298121
2        2   3572540          6.230924
3        2   1850915          6.025050
4        2   3957054          6.017145

In [3]:
documents = pd.read_json('data/corpus.jsonl', lines=True)
documents.head()

,id,title,text,keywords
0,1,!!!,!!! is a dance-punk band that formed in Sacram...,"[1996 establishments in California, American i..."
1,2,!!! (album),!!! is the eponymous debut album by !!!. It wa...,"[!!! albums, 2001 debut albums, English-langua..."
2,3,!!Destroy-Oh-Boy!!,!!Destroy-Oh-Boy!! is the debut album by the A...,"[1993 debut albums, Crypt Records albums, Engl..."
3,4,!Action Pact!,"!Action Pact! were a punk rock band, formed in...","[English punk rock groups, Musical groups dise..."
4,5,!Arriba! La Pachanga,!Arriba! La Pachanga is an album by Mongo Sant...,[1961 albums]

In [4]:
data.rename(columns={'EntityId': 'id'}, inplace=True)
merged_data = pd.merge(data, documents, how='left', on='id')

In [7]:
merged_data.to_csv('results/test_disjunctive_daat_BM25_scores_with_text.csv', index=False)